<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Auto Sending System</title>
  </head>

    <body>
      <div class="container">
        <div class="center">
          <h1 class="text">Auto Sending System</h1>
          <h1 class="text">
            あなたの代わりに自動でメールを送ります。
          </h1>
          <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
        </div>
      </div>
    </body>
</html>
