<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Auto Sending System</title>
  </head>
    <body>
      <h1>Auto Sending System</h1>
      <p>あなたの代わりに自動でメールを送ります。</p>
    </body>
</html>
