<% provide(:title, 'Edit user') %>
<div class="container">
  <div class="center">
    <h1>プロフィールを更新する</h1>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <%= render 'users/form' %>
        </div>
      </div>
  </div>
</div>
