<li>
  <%= link_to customer.name, "#" %>

  | <%= link_to "削除", user_customer_path(id: customer.id), method: :delete,
                                  data: { confirm: "本当に削除しますか？" } %>
  | <%= link_to "メールを送信する", send_to_someone_user_customer_path(id: customer.id), method: :post,
                                  data: { confirm: "メールを送信します" } %>
  | <%= link_to "メール設定", edit_user_customer_path(id: customer.id), method: :get %>
</li>
