<% if @customer.content == nil %>
<h2><%= @customer.name %> 様</h2>
  <p>こんにちは。レッスン料の支払い期日が迫っていますので、支払いがまだの方はご準備をお願いいたします。
  </p>
<p>これからも円滑な教室運営にご協力よろしくお願いいたします。</p>
<% else %>
  <p><%= @customer.content %></p>
<% end %>
