<footer class="navbar-fixed-bottom">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Auto Sending System", '#' %></li>
      </ul>
    </nav>
  </div>
</footer>
